.body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#field {
    width: 900px;
    height: 500px;
    background: url("../images/stadium.png");
    background-size: cover;
    margin: 0 auto;
    position: relative;
    border: 3px solid white;
    overflow: hidden;
}

#ball {
    width: 60px;
    position: absolute;
    border-radius: 50%;
    top: 220px;
    left: 420px;
    transition: 0.5s; 
}
